.homeSect {
  margin-top: 120px;
}
.accordion-item {
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}
.accordion-item:last-child {
  border-bottom: 0px solid rgba(255, 255, 255, 0.5) !important;
}
.accordion-button {
  background-color: transparent !important;
  color: #329cfc !important;
  padding: 1rem 0rem !important;
  font-family: "Roboto";
}
.accordion-body {
  color: #ffffff !important;
  opacity: 70%;
  padding: 1rem 0rem 1.6rem !important;
}
.accordion-button:hover,
.accordion-button:focus,
.accordion-button:active {
  outline: none !important;
  box-shadow: none !important;
}
.accordion-button {
}
.accordion-button:not(.collapsed)::after {
  background-image: url("./images/arrowUp.PNG") !important;
  transform: rotate(360deg) !important;
}
.accordion-button::after {
  background-image: url("./images/arrowDown.PNG") !important;
}
.acca {
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  .accordion-body {
    color: #ffffff !important;
    opacity: 70%;
    padding: 0.1rem 0rem 0.7rem !important;
  }
}
@media screen and (max-width: 500px) {
  .footer-logo-m img {
    width: 86%;
  }
  .row-map-c1 {
    max-width: 360px;
  }
  .cc {
    /* max-width: 327px; */
    margin: 0 auto;
  }
}
.homeSect1 {
  margin-top: 80px;
}
.row-map-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-map-c {
  flex: 0 0 auto;
  width: 409px;
  position: relative;
}
.row-map-w1 {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-top: 130px;
}
.st2 {
  position: relative;
}
.imgSt2 {
  transform: rotate(-90deg);
}
.row-map-c1 {
  flex: 0 0 auto;
  width: 401px;
  position: relative;
}
.downDown {
  position: absolute;
  width: 95px;
  height: 178px;
  margin: auto;
  right: 0;
  left: 0;
  top: 81%;
}
.downDown3 {
  position: absolute;
  width: 95px;
  height: 178px;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 86%;
  transform: rotate(180deg);
}
.imgSt2 {
  position: absolute;
  width: 95px;
  height: 178px;
  margin: auto;
  right: -115px;
  top: 0px;
  z-index: 2;
}
.road-map-col {
  border: 3px solid #cc66ff;
  border-radius: 42px;
  padding: 20px 10px 10px;
  background: #080010;
}
.road-map-col1 {
  border: 3px solid #cc66ff;
  border-radius: 42px;
  padding: 20px 10px 10px;
  background: #080010;
}
.road-map-col1 h4 {
  color: #bf9000;
  font-size: 14px;
  letter-spacing: 1.72px;
  text-transform: uppercase;
  font-family: "Lemon/Milk";
  margin-left: 7px;
}
.road-map-col h4 {
  color: #bf9000;
  font-size: 14px;
  letter-spacing: 1.72px;
  text-transform: uppercase;
  font-family: "Lemon/Milk";
  margin-left: 7px;
}
.road-map-col ul {
  list-style: circle;
}
.road-map-col ul li {
  text-align: left;
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0.23px;
  color: #ffffff;
}
.road-map-col1 ul {
  list-style: circle;
}
.road-map-col1 ul li {
  text-align: left;
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0.23px;
  color: #ffffff;
}
.wrap-wrap {
  max-width: 98%;
  margin: auto;
}
.accordion-body {
  opacity: 100%;
}
@media screen and (max-width: 1268px) {
  .row-map-c {
    max-width: 370px;
  }
  .row-map-c1 {
    max-width: 360px;
  }
  .imgSt2 {
    top: 0;
  }
  .road-map-col ul,
  .road-map-col1 ul {
    padding-left: 24px !important;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 13px;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    letter-spacing: 0;
  }
  /* .ccx {
    padding: 30px 10px 12px 10px !important;
  }
  .road-map-col1 {
    padding: 30px 10px 45px 10px;
  } */
  .downDown3 {
    bottom: 90%;
  }
}
@media screen and (max-width: 1158px) {
  .wrap-wrap {
    max-width: 99%;
    margin: auto;
  }
  .row-map-c {
    max-width: 320px;
  }
  .row-map-c1 {
    max-width: 320px;
  }
  .imgSt2 {
    top: 0%;
  }
  .road-map-col,
  .road-map-col1 {
    padding: 20px 3px 10px 5px;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 11.5px;
  }
}
@media screen and (max-width: 1018px) {
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 10px;
  }
  .row-map-c,
  .row-map-c1 {
    max-width: 280px;
  }
  .imgSt2 {
    top: 0%;
  }
}
@media screen and (max-width: 980px) {
  .row-map-c,
  .row-map-c1 {
    max-width: 284px;
  }
  .road-map-col ul,
  .road-map-col1 ul {
    padding-left: 18px !important;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 10.5px;
  }
  .imgSt2 {
    top: 0%;
  }
  /* .road-map-col1 {
    padding: 27px 3px 48px 1px;
  } */
}
@media screen and (max-width: 880px) {
  .row-map-c,
  .row-map-c1 {
    max-width: 250px;
  }
  .imgSt2 {
    top: 0%;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 9px;
  }
}
@media screen and (max-width: 520px) {
  /* .row-map-c, */
  .row-map-c1 {
    max-width: 100% !important;
    margin: auto;
  }
  .row-map-c {
    max-width: 98% !important;
    margin: auto;
  }
  /* .st-ag {
    margin-top: 20px;
  } */
}
@media screen and (max-width: 767px) {
  .road-map-col h4,
  .road-map-col1 h4 {
    margin-bottom: 14px;
  }
  .road-map-col ul,
  .road-map-col1 ul {
    padding-left: 2rem !important;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .road-map-col1 {
    padding: 30px 10px 34px 10px;
  }
  .downDown {
    top: 89%;
  }
  .row-map-w,
  .row-map-w1 {
    flex-direction: column;
  }
  .row-map-w1 {
    margin-top: 80px;
  }
  .row-map-c,
  .row-map-c1 {
    max-width: 70%;
    margin: auto;
  }
  .row-map-c1 {
    margin-bottom: 90px;
  }
  .imgSt2 {
    top: 88%;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(0deg);
  }
  .st-ag {
    display: block !important;
    margin-top: 90px !important;
  }
  .st-ag-ag {
    display: none !important;
  }
  .downDown3 {
    transform: rotate(0deg);
    top: 136%;
    bottom: 0;
    z-index: 3;
  }
}
@media screen and (max-width: 580px) {
  .downDown3 {
    transform: rotate(0deg);
    top: 156%;
    bottom: 0;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 12px;
    margin-bottom: 8px;
  }
}
.st-ag {
  display: none;
}
.llg {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .road-map-col {
    padding: 30px 10px 34px;
  }
  .row-map-c {
    margin: auto;
    max-width: 100% !important;
  }
}
@media screen and (min-width: 1440px) {
  .wrap-wrap {
    max-width: 98%;
    margin: auto;
  }
  .road-map-col ul,
  .road-map-col1 ul {
    padding-left: 24px !important;
  }
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 15px;
    margin-bottom: 6px;
  }
  .row-map-c {
    width: 473px;
  }
  .row-map-c1 {
    width: 473px;
  }
  .road-map-col1 {
    padding: 20px 10px 10px;
  }
  .imgSt2 {
    top: 10px;
  }
}
@media screen and (min-width: 1600px) {
  .road-map-col ul li,
  .road-map-col1 ul li {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .row-map-c {
    width: 506px;
  }
  .row-map-c1 {
    width: 506px;
  }
  .imgSt2 {
    top: 11px;
  }
}
.term-and-cond-wrapper {
  background: #080010;
}
